<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.voyager.meducation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.voyager.meducation.MEducationApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MEducationTheme" >

        <!-- =================AVIARY FEATHER ACTIVITY=================== -->
        <meta-data
            android:name="com.aviary.android.feather.v1.API_KEY"
            android:value="c2j41834j7ua1748" />

        <activity
            android:name="com.aviary.android.feather.FeatherActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:screenOrientation="portrait"
            android:theme="@style/AviaryTheme" />

        <receiver
            android:name="com.aviary.android.feather.library.receivers.AviarySystemReceiver"
            android:exported="true"
            android:process=":aviary_standalone_system_receiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- ==============END AVIARY FEATHER ACTIVITY================== -->


        <!-- =================DROPBOX LOGIN ACTIVITY================= -->
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-n706k8ax7vymwzp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- ==============END DROPBOX LOGIN ACTIVITY=================== -->

        <activity
            android:name="com.voyager.meducation.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.voyager.meducation.activities.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.voyager.meducation.activities.TakeExamPhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.voyager.meducation.activities.MainPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.voyager.meducation.activities.CreateLessonActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>